# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production builds
/dist/
/build/

# Environment variables
.env
.env.local
.env.production

# Linter and Static Analysis cache / reports
.eslintcache
results.sarif
snyk.sarif

# Security and SSL files
security/*.bak
*.pem

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Temporary files
*.tmp
*.temp

# Arduino build files
*.elf
*.hex
*.eep
